/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
#ybc-nivo-caption-text-hidden{
    display: none;   
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
    margin-top: -25px;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
  background: none repeat scroll 0 0 #E45F56;
  font-weight: bold;
}
.theme-default {
  float: left;
  position: relative;
  width: 100%;
}
/**
 * YourBestCode caption 
 */
 
.ybc-caption-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.ybc-caption-frame{
    height: 100%;
}
.ybc-caption-position-right{
    float: right;
}
.ybc-caption-position-left{
    float: left;
}

.ybc-caption-position-center{
    margin: 0 auto!important;
}
.caption1, .caption2, .caption3 {
  margin-bottom: 10px;
}

.ybc-caption-text-left{
    text-align: left;
}
.ybc-caption-text-right{
    text-align: right;
}
.ybc-caption-text-center{
    text-align: center;
}
.ybc-caption-type {
  clear: left;
  opacity: 0;
  position: relative;
}
.caption4 {
  width: 100%;
  float: left;
  color: #fff;
}
.caption1{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.caption2 {
  color: #ffba4a;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'SFUInsigniaRegular'; 
}
.caption3{
    font-size: 14px;
}
.caption3 .caption-span {
  font-size: 1.1vw;
  font-weight: bold;
}
.ybc-nivo-description{
    display: none;
}
.ybc-nivo-slider-wrapper{
    width: 100%;
    min-height: 200px;
}
.caption-span span {
  float: left;
}
#ybc-nivo-slider-wrapper h2 {
  font-size: 1.5vw;
  margin: 0;
}

/*-------------theme-default------------*/
.theme-default .caption1 > .caption-span {
  font-size: 20px;
  padding: 0;
  font-family: 'SFUInsigniaRegular';
  color: #fff;
  line-height: 24px;
}
.theme-default .ybc_button_slider {
  display: inline-block;
  margin: 30px 0 0;
}
.theme-default .ybc_button_slider a {
  background: #ca9339 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-shadow: none;
  padding: 10px 20px;
}
/*-------------end of theme-default------------*/
/*skin caption transparency*/

.caption-skin-regular .ybc-caption > .ybc-caption-type
{
    padding: 10px;
    display: inline-block;
}
/*--------------responsive---------------------*/
@media (max-width:991px){
    .theme-default .caption1 > .caption-span {  
      font-size: 16px; 
      line-height: 16px; 
    }
    .theme-default .caption4 .caption-span {
      font-size: 13px;  
    }
    .theme-default .caption-skin-light .ybc-caption,
    .theme-default .caption-skin-regular .ybc-caption {
      //padding: 10px;
    }
    .theme-default .caption2 .caption-span {
      padding: 0;
    }
    .theme-default .caption-skin-regular .ybc-caption {
      //margin-top: 37px;
    }
    

}

@media (min-width: 480px) and (max-width: 767px){
    .caption-span{
        font-size: 14px;
    }
    
}

.caption-span p{
    //font-size: 15px;
}
.ie8 .caption2 .caption-span {
  background: none repeat scroll 0 0 rgb(228, 224, 205);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  font-size: 15px;
}
@media (max-width: 767px){
    .caption3 .caption-span {
      font-size: 9px;
    }
}
.caption3 .caption-span {
  font-size: 16px;
}
#ybc-nivo-slider{
    opacity: 0;
}
#ybc-nivo-slider .ybc-nivo-link{
    display: none;
}
#ybc-nivo-slider .ybc-nivo-link:first-child{
    display: block;
}
#ybc-nivo-slider-loader img{
    width: 50px;
}
#ybc-nivo-slider-wrapper > #ybc-nivo-slider-loader {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.ybc-nivo-slider-loader {
  background: none repeat scroll 0 0 #F5F5F5;
  display: table;
  float: left;
  height: 100%;
  width: 100%;
}
.ybc-nivo-slider-loader #ybc-nivo-slider-loader-img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 992px) and (max-width: 1199px){
    .theme-default .caption1 > .caption-span {
      font-size: 18px;
      line-height: 20px;
    }
    .theme-default .caption2 .caption-span {
      line-height: 20px;
    }
    .caption2 .caption-span {
      font-size: 18px;
    }
    .theme-default .caption4 .caption-span {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
    .theme-default .ybc_button_slider {
      margin-top: 5px;
    }
    .caption-skin-regular .ybc-caption > .ybc-caption-type {
      padding: 7px 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .caption2 .caption-span, .caption3 .caption-span, .theme-default .caption1 > .caption-span {
      font-size: 10px;
      line-height: 16px;
    }
    .theme-default .caption2 .caption-span {
      line-height: 16px;
    }
    .caption-skin-regular .ybc-caption > .ybc-caption-type {
      display: inline-block;
      padding: 5px 10px;
    }
    .theme-default .ybc_button_slider {
      display: inline-block;
      margin: 0;
    }
    .button.btn.ybc-nivo-button {
      font-size: 10px;
    }
    .theme-default .caption4 .caption-span {
      font-size: 10px;
      line-height: 16px;
    }
    .theme-default .nivo-directionNav a {
      height: 40px;
      width: 40px;
    }
    .theme-default a.nivo-prevNav:before,
    .theme-default a.nivo-nextNav:before {
      font-size: 40px;
      height: 40px;
      line-height: 38px;
      width: 40px;
    }
    .caption4 .caption-span > p {
      margin-bottom: 3px;
    }
}
@media (max-width: 767px){
    /*.ybc-caption .caption2 .caption-span {
        font-size: 10px;
      font-size: 1.6vw;
      line-height: 4vw;
    }
    #ybc-nivo-slider-wrapper.theme-default .nivo-controlNav a {
      height: 13px;
      width: 13px;
    }
    .theme-default .caption4 .caption-span {
      font-size: 12px;
      line-height: 18px;
    }*/
    
    
    .hide-caption-on-mobile .ybc-caption-wrapper {
      display: none !important;
    }
    .caption2 .caption-span, .caption3 .caption-span, .theme-default .caption1 > .caption-span {
      font-size: 8px;
      font-size: 1.4vw;
      line-height: 9px;
      line-height: 1.6vw;
    }
    .theme-default .caption2 .caption-span {
      line-height: 16px;
      line-height: 1.6vw;
    }
    .caption-skin-regular .ybc-caption > .ybc-caption-type {
      display: inline-block;
      padding: 1px 10px;
    }
    .theme-default .ybc_button_slider {
      display: inline-block;
      margin: 0;
    }
    .button.btn.ybc-nivo-button {
      font-size: 7px;
      font-size: 1.4vw;
      padding: 2px 5px;
    }
    .caption-span p {
      margin-bottom: 2px;
    }
    .theme-default .nivo-controlNav .nivo-control:before {
      font-size: 7px;
    }
    .theme-default .caption4 .caption-span {
      font-size: 7px;
      font-size: 1.4vw;
      line-height: 8px;
      line-height: 1.6vw;
    }
    .theme-default .nivo-directionNav a {
      height: 40px;
      width: 40px;
    }
    .theme-default a.nivo-prevNav:before,
    .theme-default a.nivo-nextNav:before {
      font-size: 40px;
      height: 40px;
      line-height: 38px;
      width: 40px;
    }
    .nivo-directionNav a {
      margin-top: -20px;
    }
}
@media (max-width: 479px){ 
    .ybc-caption .caption4 {
      float: left;
      padding-top: 0px;
    }
    .ybc-caption .caption1 .caption-span,
    .ybc-caption .caption2 .caption-span,
    .ybc-caption .caption3 .caption-span,
    .ybc-caption .caption-span {
      display: block;
      font-size: 5px;
      font-size: 1.35vw;
      line-height: 6px;
      line-height: 1.5vw;
    }
    .caption-span .button.btn {
      font-size: 7px;
      padding: 0;
    }
    .theme-default a.nivo-nextNav {
      right: 4%;
    }
    .theme-default a.nivo-prevNav {
      left: 4%;
    }
    #ybc-nivo-slider-wrapper.theme-default .nivo-directionNav a {
      height: 30px;
      width: 30px;
    }
    .theme-default a.nivo-prevNav:before, .theme-default a.nivo-nextNav:before {
      font-size: 35px;
      height: 30px;
      line-height: 28px;
      width: 30px;
    }
    .nivo-directionNav a {
      margin-top: -15px;
    }
    .caption-skin-regular .ybc-caption > .ybc-caption-type {
      display: block;
      margin-bottom: 2px;
      padding: 1px 3px;
    }
}